<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="circle-element">
    <template>

        <style>

        .outerdom {
            position: absolute;
            top: 0;
            left: 0;
            width: 70px;
            height: 70px;
        }

        </style>
        <div class="outerdom circle">
            <svg width="70" height="70">
                <circle cx="35" cy="35" r="35" fill="green" />
            </svg>
        </div>
    </template>

    <script>

        Polymer({

            is: "circle-element",

            properties: {
                selected: {
                    type: Boolean,
                    value: false
                }
            },

            ready: function() {
                var that = this;
                this.selected = false;

                var position = [
                    Math.floor(Math.random()*(600-70)),
                    Math.floor(Math.random()*(500-70))
            	];
                var outerdom = this.$$(".outerdom");
                outerdom.style.left = position[0] + "px";
                outerdom.style.top = position[1] + "px";

            },

            _move: function(arrow) {
                var dom = this.$$(".outerdom");
                var x = parseInt(dom.style.left, 10);
                var y = parseInt(dom.style.top, 10);
                switch(arrow){
                    case "up":
                    dom.style.top = y - 10 + 'px';
                    break;
                    case "down":
                    dom.style.top = y + 10 + 'px';
                    break;
                    case "left":
                    dom.style.left = x - 10 + 'px';
                    break;
                    case "right":
                    dom.style.left = x + 10 + 'px';
                    break;
                }
            },

        });

    </script>
</dom-module>
