<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="top-element.html">
<link rel="import" href="contents-element.html">
<link rel="import" href="toolbox-element.html">
<link rel="import" href="shapes/circle-element.html">
<link rel="import" href="shapes/square-element.html">
<link rel="import" href="shapes/triangle-element.html">


<dom-module id="app-element">
    <template>

        <style>
            :host .system {
                position: relative;;
                width: 600px;
                height: 750px;
                background-color: black;
            }

        </style>
        <div class="system">
            <top-element numbers="{{numbers}}"></top-element>
            <contents-element shapes="{{shapes}}"></contents-element>
            <toolbox-element></toolbox-element>
        </div>

    </template>

    <script>

        Polymer({
            is: "app-element",

            properties: {
                shapes: {
                    type: Array,
                    notify: true,
                    value: [],
                    // observer: '_shapesChanged'
                },

                numbers: {
                    type: Number,
                    value: 0
                }
            },

            listeners: {
                "createCircle": "createC",
                "createSquare": "createS",
                "createTriangle": "createT"
            },

            ready: function() {
                var that = this;
            },

            createC: function(e) {
                var circlesvg = document.createElement("circle-element");
                this.shapes.push(circlesvg);
                this.numbers = this.shapes.length;
                this.$$("contents-element").querySelector(".contents").appendChild(circlesvg);
            },

            createS: function(e) {
                var squaresvg = document.createElement("square-element");
                this.shapes.push(squaresvg);
                this.numbers = this.shapes.length;
                this.$$("contents-element").querySelector(".contents").appendChild(squaresvg);
            },

            createT: function(e) {
                var trianglesvg = document.createElement("triangle-element");
                this.shapes.push(trianglesvg);
                this.numbers = this.shapes.length;
                this.$$("contents-element").querySelector(".contents").appendChild(trianglesvg);
            },



        });

    </script>
</dom-module>
