<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="top-element.html">
<link rel="import" href="contents-element.html">




<dom-module id="app-element">
    <template>

        <style>
            :host .system {
                position: relative;;
                width: 600px;
                height: 750px;
                background-color: black;
            }

        </style>
        <div class="system">
            <top-element numbers="{{numbers}}"></top-element>
            <contents-element numbers="{{numbers}}"></contents-element>

        </div>

    </template>

    <script>

        Polymer({
            is: "app-element",

            properties: {

                numbers: {
                    type: Number
                }
            },

            ready: function() {
                var that = this;
            }
        });

    </script>
</dom-module>
