<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="top-element">
    <template>

        <style>
            :host .top {
                position: absolute;
                top: 0;
                left: 0;
                width: 600px;
                height: 100px;
                background-color: #44BE5E;
            }

            .topdom {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;

                font-size: 46px;
                height: 100px;
                line-height: 100px;
                color: #FCFCFC;
                text-align: center;
            }

            .currentsvg {
                position: absolute;
                bottom: 0;
                right: 16px;
                font-size: 16px;
                color: #FCFCFC;
            }

        </style>
        <div class="top">
            <div class="topdom">Sketchboard</div>
            <div class="currentsvg" numbers="{{numbers}}"></div>
        </div>

    </template>

    <script>

        Polymer({
            is: "top-element",

            properties: {

                numbers: {
                    type: Number,
                    value: 2
                }

            },

            ready: function() {
                this.$$(".currentsvg").innerHTML = "Current SVG: " + this.numbers;
            }
        });

    </script>
</dom-module>
