body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contents {
    display: flex;
    flex-wrap: row wrap;
}

.main {
	background-color: skyblue;
}

.main header {
	background-color: lightgray;
    height: 30px;
}

.left {
	background-color: pink;
    width: 200px;
    flex: none;
}

.right {
	background-color: greenyellow;
    width: 300px;
    flex: none;
}

footer {
	background-color: yellow;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
