body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.main {
	background-color: skyblue;
	/* TODO: 이 곳을 채우세요! */
    position: absolute;
    top: 0px;
    left: 200px;
}

.left {
	background-color: pink;
	/* TODO: 이 곳을 채우세요! */
    width: 200px;
    
}

.right {
	background-color: greenyellow;
	/* TODO: 이 곳을 채우세요! */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    
}
