/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */


input[type=number]{
    width: 40px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
}

input[type=text]{
    width: 50px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
}

.desktop {
	border: 1px solid black;
	width: 600px;
	height: 400px;

	position: relative;
}

.form_div {
    position: absolute;
    top: 400px;
}

.shape_size {
    position: absolute;
    top: 530px;
}



.icon {
	width: 35px;
	height: 35px;
	background-color: yellow;

	position: absolute;
	top: 0px;
	left: 0px;
}

.folder {
	background-color: pink;
}

.windowa {
    position: absolute;
    top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	background-color: blue;
}
