/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */

body {
	width: 100%;
	height: 100%;
}


/*  desktop class  */
.desktop {
	background-color: skyblue;
	margin: 0 auto;
	width: 800px;
	height: 800px;
	color: black;
}


/*  icon class  */
.icon *{
	background-color: yellow;
	width: 50px;
	height: 50px;
}


/*  folder class  */
.folder *{
	background-color: red;
	width: 50px;
	height: 50px;
}


/*  window class  */
.window *{
	background-color: green;
	width: 100px;
	height: 100px;
}
