/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */


input[type=number]{
    width: 40px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
}

input[type=text]{
    width: 50px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
}

.desktop {
	border: 1px solid black;
	width: 600px;
	height: 400px;

	position: relative;
}

.form_div {
    position: absolute;
    top: 400px;
}

.size {
    position: absolute;
    top: 530px;
}

.shape {
    position: absolute;
    top: 580px;
}

.icon {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 35px;
	height: 35px;
    background-color: yellow;*/
}

.folder {
	background-color: pink;
}

.windowa {
    position: absolute;
    top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	background-color: blue;
}

.square {
    width: 35px;
	height: 35px;
    background-color: yellow;*/
}

.circle {
    width: 35px;
	height: 35px;
    background-color: yellow;*/
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

.triangle{
    border-bottom: 70px solid yellow;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}
