/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */
input[type=number]{
    width: 40px;
	height: 40px;
	font-size: 20px;
	text-align: center;
    margin-top: 10px;
	margin-left: 10px;
    margin-right: 10px;

}
h2 {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text]{
    width: 50px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	margin-left: 10px;
    margin-right: 10px;
}

.desktopsystem {
    position: relative;
    border: 1px solid black;
    width: 620px;
    height: 660px;
}

.desktop {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid black;
	width: 600px;
	height: 380px;
}

.tolbox {
    position: absolute;
    top: 400px;
    left: 10px;
    width: 600px;
    height: 250px;
    border: 1px solid black;
}


/* inner tolbox */
.form_div {
    position: absolute;
    top: 0px;
    left: 180px;
}

.size {
    position: absolute;
    top: 115px;
    left: 180px;
}

.shape {
    position: absolute;
    top: 160px;
    left: 180px;
}


/* icon & folder */
.icon {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 35px;
	height: 35px;
    background-color: yellow;*/
}

.folder {
	background-color: pink;
}

.windowa {
    position: absolute;
    top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	background-color: blue;
}

/* shape */

.square {
    width: 35px;
	height: 35px;
    background-color: yellow;*/
}

.circle {
    width: 35px;
	height: 35px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

/*.triangle{
    border-bottom: 70px solid yellow;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    background-color: transparent;
}*/
