div:focus {outline: none}

.system {
    position: relative;
    width: 600px;
    height: 750px;
    background-color: gray;
    border: 0.1px solid #D0D2D2;
}

.sketchboard {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 650px;
    background-color: #FCFCFC;
}

.topdom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #44BE5E;

    font-size: 34px;
    height: 50px;
    line-height: 50px;
    color: #FCFCFC;
    text-align: center;
}

.content {
    position: absolute;
    top: 50px;
    width: 600px;
    height: 600px;
}

.toolbox {
    position: absolute;
    top: 650px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #389F49;
}

.btns {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
button {
    background-color: #389F49;
    border: 3px solid #FCFCFC;
    color: #FCFCFC;
    width: 120px;
    height: 50px;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    margin: 10px;
}


.outerdom {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
}

.svgclass {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
}

.circle {
    position: absolute;
    r: 35;
    fill: green;
}

.square {
    position: absolute;
    width: 70px;
    height: 70px;
    fill: green;
}

.triangle {
    position: absolute;
    fill: green;
    stroke: green;
}

.selectwindow {
    position: absolute;
    top: 0;
    left: 0;
    border-style: dotted;
    border-width: 1px;
}

.selected {
    border-style: dotted;
    border-width: 2px;
}
