* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}




/****** Github Web Page Style ******/

a {
    text-decoration: none;
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}




/****** Github Web Page Layout ******/

body {
    margin: 0;
    padding: 0;
}

.Main-header {
    margin: 0px;
    background-color: #F5F5F5;
    height: 70px;
}

.Content-header {
    height: 70px;
    background-color: white;
    border-top: 3px solid #F5F5F5;
    border-bottom: 3px solid #F5F5F5;
}

.Content {
    margin: 0 auto;
	width: 960px;
}

.Content-section {
    float: left;
    width: 760px; 
}

.Content-aside {
    float: left;
    width: 200px;
}

footer {
    margin: 0 auto;
	width: 960px;
    height: 100px;
    border-top: 3px solid #F5F5F5;
    clear: left;
}



/****** Main-header ******/

.Main-header-center {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 70px;
}

.Main-header-center *{
    margin: 0;
    padding: 0;
}

.github-logo {
    position: absolute;
    left: 0;
    top: 13.5px;
}

.repo-search {
    position: absolute;
    left: 123px;
    top: 23.5px;
}

.header-menu {
    position: absolute;
    top: 24.5px;
    left: 430px;
    list-style-type: none;
}

.header-menu li {
    display: inline;
    margin: 5px;
}

.sign {
    position: absolute;
    top: 24px;
    right: 0;
}




/****** Main-header ******/

.Content-header-center {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 70px;
}

.Content-header-current {
    position: absolute;
    top: 24.5px;
    left: 40px;
}

.main-content-header-button {
    position: absolute;
    top: 23.5px;
    right: 0;

}

.octicon-repo {
    position: absolute;
    top: 19px;
    left: 0;
}




/****** Main-content ******/

.Content-section * {
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-text {

}

/* Main-content-section1 */
.Content-section1 {
    border: 3px solid #F5F5F5;
}

.main-content-nav-ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.main-content-nav-li {
    display: inline;
    margin: 60px;

}

/* Main-content-section2 */
.Content-section2 {
    position: relative;
}

.branch-select {
    position: absolute;
    left: 0;
    margin: 0;
}

.main-content-current {
    position: absolute;
    left: 60px;
    margin: 0;
}

/* Main-content-section3 */
.Content-section3 {
    border: 3px solid #F5F5F5;
}

/* Main-content-section4 */
.Content-section4 {
    border: 3px solid #F5F5F5;
}