* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}




/****** Github Web Page Style ******/

a {
    text-decoration: none;
}

/*a:visited {
    color: blue;
}*/

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}




/****** Github Web Page Layout ******/

body {
    margin: 0;
    padding: 0;
}

.Main-header {
    margin: 0px;
    background-color: #F5F5F5;
    height: 70px;
}

.Content-header {
    height: 70px;
    background-color: white;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

.Content {
    margin: 0 auto;
	width: 960px;
}

.Content-section {
    float: left;
    width: 760px; 
}

.Content-aside {
    float: left;
    width: 200px;
}

footer {
    margin: 0 auto;
	width: 960px;
    height: 100px;
    border-top: 1px solid #EAEAEA;
    clear: left;
}



/****** Website-Main-Header ******/

.Main-header-center {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 70px;
}

.Main-header-center *{
    margin: 0;
    padding: 0;
}

.github-logo {
    position: absolute;
    left: 0;
    top: 13.5px;
}

.repo-search {
    position: absolute;
    left: 123px;
    top: 23.5px;
}

.header-menu {
    position: absolute;
    top: 24.5px;
    left: 430px;
    list-style-type: none;
}

.header-menu li {
    display: inline;
    margin: 5px;
}

.sign {
    position: absolute;
    top: 24px;
    right: 0;
}




/****** Website-Content-Header ******/

.Content-header-center {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 70px;
}

.Content-header-current {
    position: absolute;
    top: 24.5px;
    left: 40px;
}

.main-content-header-button {
    position: absolute;
    top: 23.5px;
    right: 0;

}

.octicon-repo {
    position: absolute;
    top: 19px;
    left: 0;
}




/****** Website-Main-Content ******/

.Content-section * {
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-text {

}

/* Main-content-section1 */
.Content-section1 {
    border: 1px solid #EAEAEA;
}

.main-content-nav-ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.main-content-nav-li {
    display: inline;
    margin: 50px;
}

.octicon-history, .octicon-git-branch, 
.octicon-tag, .octicon-organization {
    margin: 0;
    padding-right: 3px;
}

/* Main-content-section2 */
.Content-section2 {
    position: relative;
    height: 20px;
}

.branch-select {
    position: absolute;
    top: 1px;
    left: 0;
    margin: 0;
}

.main-content-current {
    position: absolute;
    top: 0;
    left: 80px;
    margin: 0;
}

/* Main-content-section3 */
.Content-section3 {
    border: 1px solid #EAEAEA;
    position: relative;
}

.main-content-first-container {
    border-bottom: 1px solid #EAEAEA;
    height: 25px;
    margin: 0;
    background-color: #F5F5F5;
}

.first-container-link-ul {
    position: absolute;
    right: 0;
    top: 0.5px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.first-container-link-li {
    display: inline;
    margin-right: 7px;
}

.octicon-git-pull-request, .octicon-diff {
    margin: 0;
    padding-right: 4px;
}

.main-content-second-container {
    border-bottom: 1px solid #EAEAEA;
    height: 25px;
    margin: 0;
    background-color: #E6F1F6;
}

.main-content-third-container {
    border-bottom: 1px solid #EAEAEA;
    height: 25px;
    margin: 0;
    background-color: #F5F5F5;
}

.main-content-fourth-container-ul {
    
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.main-content-fourth-container-li {
    border-bottom: 1px solid #EAEAEA;
    padding: 3px;
    margin: 0;
}

.main-content-fourth-container-li:hover {
    background-color: #F5F5F5;
}

#main-content-fourth-container-li4 {
    border: none;
}

.octicon-file-directory, .octicon-file-text {
    margin: 0;
    padding-right: 5px;
}



/* Main-content-section4 */
.Content-section4 {
    border: 1px solid #EAEAEA;
    border-bottom: none;
}

.section4-first-container {
    background-color: #F5F5F5;
    border-bottom: 1px solid #EAEAEA;
    margin: 0;
}

.section4-second-container {
    border-bottom: 1px solid #EAEAEA;
    margin: 0;
    height: 50px;
}

.octicon-book {
    margin: 0;
    padding-left: 3px;
    padding-right: 3px;
}

.readme-text {
    margin: 23px;
    font-size: 30px;
}



/****** Website-Content-aside ******/

.Content-aside-center {
    position: relative;
    width: 160px;
    margin-left: 20px;
}


.aside-ul {
    list-style-type: none;
    position: absolute;
    padding-left: 10px;
    border-left: 1px solid #EAEAEA; 
}

.aside-li {
    margin: 15px 0;
}

.aside-li1 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

.conle-URL-copy {
    position: absolute;
    top: 230px;
    font-size: 0.7em;
}

.octicon-issue-opened,
.octicon-git-pull-request, .octicon-pulse {
    padding-right: 6px;
}

/****** Website-footer ******/
.footer-content {
    position: relative;
    top: 50px;
}

.githubinc {
}

.footer-link-ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer-link-li {
    display: inline;
}

.footer-link-1 {
    position: absolute;
    top: 0;
    left: 150px;
}

.footer-link-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.octicon-mark-github {
    position: absolute;
    right: 50%;
}