* {
	/* TODO: 필요한 CSS를 채워넣어 보세요! */
}

.btn {
	width: 120px;
	height: 40px;
	margin: 2px;
	border: 2px solid #f5f5f5;
    border-radius: 10px;
    color:#f5f5f5;
    text-align:center;
	text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
	font-weight:bold;
}

textarea {
	width: 500px;
	height: 420px;
	resize: none;
	box-sizing: border-box;
	border: none;
}


/*Layout*/
.notepad {
	position: relative;
	/*left: 0;
	top: 0;*/
	width: 500px;
	height: 500px;
	background-color: white;
}

.notepadToolbox {
	position: absolute;
	display: flex;
	justify-content : center;
	align-items : center;
	left: 0;
	top: 0;
	width: 500px;
	height: 50px;
	/*background-color: rgb(170, 170, 170);*/
}

.noteTabbox {
	position: absolute;
	display: flex;
	overflow: auto;
	align-items : center;
	left: 0px;
	top: 50px;
	width: 500px;
	height: 30px;
	background-color: rgb(191, 187, 177);
}

.note {
	position: absolute;
	left: 0;
	top: 80px;
	width: 500px;
	height: 420px;
	background-color: white;
	border: 1px solid black;
}

.noteTab {
	margin: 1px;
	width: 80px;
	height: 20px;
	background-color: skyblue;
}
