* {
	/* TODO: 필요한 CSS를 채워넣어 보세요! */
}

.btn {
	width: 120px;
	height: 40px;
	margin: 2px;
}

/*Layout*/
.notepad {
	position: relative;
	/*left: 0;
	top: 0;*/
	width: 500px;
	height: 600px;
	border: 1px solid black;
	background-color: white;
}

.notepadToolbox {
	position: absolute;
	display: flex;
	justify-content : center;
	align-items : center;
	left: 0;
	top: 0;
	width: 500px;
	height: 50px;
	background-color: rgb(170, 170, 170);
}

.noteTab {
	position: absolute;
	left: 0px;
	top: 50px;
	width: 500px;
	height: 30px;
	background-color: rgb(191, 187, 177);
}

.note {
	position: absolute;
	left: 0;
	top: 80px;
	width: 500px;
	height: 520px;
	background-color: white;
}
