* {
	/* TODO: 필요한 CSS를 채워넣어 보세요! */
}

.notepad {
	position: relative;
	/*left: 0;
	top: 0;*/
	width: 500px;
	height: 500px;
	border: 1px solid black;
	background-color: white;
}

.notepadToolbox {
	position: absolute;
	left: 0;
	top: 0;
	width: 500px;
	height: 20px;
	background-color: rgb(170, 170, 170);
}

.noteTab {
	position: absolute;
	left: 0px;
	top: 20px;
	width: 500px;
	height: 20px;
	background-color: rgb(191, 187, 177);
}

.note {
	position: absolute;
	left: 0;
	top: 40px;
	width: 500px;
	height: 460px;
	background-color: white;
}
